:root{
    --main-modal-color: rgb(12, 15, 25);
    --main-backgounr-color:rgb(26, 26, 36);
    --main-titles-color:rgba(255, 255, 255, 0.573);
    --main-green-color:rgb(170, 240, 39);
    --main-titleproject-color:rgb(207, 207, 207) ;
    --main-words-color: rgb(255, 255, 255);
    --main-line-color:rgb(116, 116, 116);
}
*{
    padding: 0;
    margin:0;
}
body{
    background-color: var(--main-backgounr-color);
}
.background{ 
    width: auto;
    height: auto;
}
.top{
    width: auto;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;

}
.topMenu{
    background-color: var(--main-modal-color);
    width: 97VW;
    height: 5vh;
    padding-top: 10px; 

}
.center{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2%;
}
.view{
    width: 97vw;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.toDo{
    /* background-color: var(--main-modal-color); */
    width: 100%;
    height: 100vh;
    border-radius: 10px;
}
.completed{
    background-color: var(--main-modal-color);
    width: 44%;
    height: 100vh;
    border-radius: 10px;
}
.right{
    background-color: var(--main-modal-color);
}
.input_date{
    width: 11vw;
    height:4vh;
    font-size: 13px;
    padding-right:4px;
}
.text_sprint{
    width: 11vw;
    height:4vh;
    font-size: 13px; 
    margin-left:4px;  
}
.date{
    color: rgb(217, 255, 0);
    font-size: 11px;
    
}

.list{
    width: auto;
    height: auto;
    border-radius: 10px;
    padding: 5%;
}
.input_list{
    width: 80%;
    height: 7vh;
    background-color: var(--main-modal-color);
    border-radius: 10px;
    margin-left:88px;
    margin-top:20px;
    padding-top:10px;
    padding-left:10px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-titles-color);
}
.input_list_line{
    width: auto;
    height:10vh;
    border-radius: 10px;
    background-color: var(--main-modal-color);
    margin-bottom:10px;
}
.ok_button{
    width: 17px;
    height: 17px;
    border-radius: 2px;
    background-color: var(--main-green-color);
    margin-left:5px;
    float: right;
    font-size: 8px;
    border:1px;
    border-style: solid;
    color: rgb(0, 120, 77);
}
.delete_button{
    width: 17px;
    height: 17px;
    border-radius: 2px;
    background-color: rgb(252, 82, 82);
    margin-left:5px;
    float: right;
    font-size: 10px;
    border:1px;
    border-style: none;
    color: rgb(153, 19, 19);
}
.back_button{
    width: 17px;
    height: 17px;
    border-radius: 2px;
    background-color: rgb(214, 214, 214);
    margin-left:5px;
    float: right;
    font-size: 10px;
    border:1px;
    border-style: solid;
    border-color: rgb(105, 105, 105);
    color: rgb(105, 105, 105);
}
.lineBt{
    width: 50px;
    height: 10px;
}
.bottom{
    width: auto;
    height: 70px;
    border-radius: 10px;
    background-color: rgb(3, 221, 142);
    margin-bottom: 10px;
}
.completed_text{
    color: rgb(0, 120, 77);
}
.title{
    margin-left: 10px;
    color: var(--main-green-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.titleTag{
    color:var( --main-titleproject-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 100;
    margin-left:4px;
}
.add_button{
    width: 4vh;
    height: 4vh;
    border-radius: 2px;
    background-color: var(--main-green-color);
    margin-left:5px;
    font-size: 20px;
    border:1px;
    padding-top:-3;
    border-style: solid;
    color: rgb(0, 120, 77);
}
.add_div{
    height: 5vh;
    width: auto;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.back{
    width: 25px;
    height: 20px;
    float: right;
    border-radius: 3px;
    background-color: rgb(140, 140, 140);
    border:1px;
    border-style: solid;
    border-color: rgb(142, 142, 142);
    color: rgb(0, 120, 77);
    margin-right: 10px;
}
.triangle{
    width: 0;
    height: 0;
    border-top:8px solid transparent;
    border-bottom:8px solid transparent;
    border-right:8px solid rgb(217, 217, 217);
    padding-left: 7px;
    margin-top: 2px;
}
.add_button:hover{
    border:2px;
    border-style: solid;
    border-color: rgb(9, 140, 234);
}
.ok_button:hover{
    border:2px;
    border-style: solid;
    border-color: rgb(0, 170, 255);
}
.delete_button:hover{
    border:2px;
    border-style: solid;
    border-color: rgb(234, 9, 76);
}
.back_button:hover{
    border:2px;
    border-style: solid;
    border-color: rgb(62, 62, 62);
}
.back:hover{
    border:1px;
    border-style: solid;
    border-color: rgb(12, 126, 207);
}
.view_input_list{
    background-color: var(--main-modal-color);
    width: 44%;
    height: 100vh;
    border-radius: 10px;
    margin-right: 1%;
}
.sprint_yellow{
    background-color: rgb(255, 251, 169);
    max-height: min-content;
    max-width: min-content;
    color:rgb(34, 34, 34);
    margin:0;
    padding: 2px;
    border-radius: 4px;
    font-size:11px;
}
.sprint_green{
    background-color: rgb(189, 255, 165);
    height: min-content;
    width: min-content;
    color:rgb(34, 34, 34);
    margin:0;
    padding: 2px;
    border-radius: 4px;
    font-size:11px;
}
.sprint_red{
    background-color: rgb(255, 109, 109);
    height: min-content;
    width: min-content;
    color:rgb(34, 34, 34);
    margin:0;
    padding: 2px;
    border-radius: 4px;
    font-size:11px;
}
.sprint_blue{
    background-color: rgb(144, 181, 255);
    height: min-content;
    width: min-content;
    color:rgb(34, 34, 34);
    margin:0;
    padding: 2px;
    border-radius: 4px;
    font-size:11px;
}
.sprint_texto{
    margin:10px;
    padding-top:7px;
}
.selectMenu{
    background-color: rgb(105, 105, 105);
    height: auto;
    width: auto;
    font-size:11px;
}
/* Select colors */
.option_green{
    background-color: rgb(189, 255, 165);
    border-radius: 4px;

}
.option_yellow{
    background-color: rgb(255, 251, 169);
    border-radius: 4px;
}
.option_red{
    background-color: rgb(255, 109, 109);
    border-radius: 4px;
}
.option_blue{
    background-color: rgb(144, 181, 255);
    border-radius: 4px;
}
.option_grey{
    background-color: rgb(157, 157, 157);
    border-radius: 4px;
}
.titleProject_dashboard{
    color: rgb(145, 145, 145);
}
.toDo_dashboard{
    background-color: var(--main-modal-color);
    border: 1px solid rgb(68, 67, 85);
    width: 70px;
    height: 70px;
    padding: 10px;
    align-content: center;
    border-radius:4px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    
}
.todo_number{
    color: rgb(225, 255, 0);
    font-size: 20px;
}
.numbers_project{
    display:flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--main-modal-color);
    
    height: auto;
    width: 100%;
    margin-top: 10px;
}
.sprints_dashboard{
    background-color: var(--main-modal-color);
    ;
    height: 50px;
    width: 100%;
    margin-bottom: 10px;
}
.text_sprint{
    color: rgb(129, 129, 129);
}
.sprint_due{
    color:rgb(217, 255, 0);
}
.sprint_lines{
    padding: 50px;
}
.sprint_line_background{
    background-color: yellow;
}
.sprint_text_line{
    color: rgb(8, 233, 64);
    font-weight: 700;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 10px;
    color: var(--main-titles-color);
    padding-top: 10px;
    font-weight: 400;   
}
td{ 
    width: 100vw;
    height: min-content;
    padding: 7px;
    background-color: var(--main-modal-color);
    border: 1px solid rgb(54, 54, 54) ;
    color:var(--main-words-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    border-radius: 4px;
}

input{
    width: 20vw;
    height: 4vh;
    border: 0px none var(--main-words-color);
    border-bottom: 1px solid var(--main-line-color);
    margin-left: 10px;
    background-color: var(--main-modal-color);
    color: var(--main-words-color);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}
input:focus{
    outline:none;
}