<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="background">
        <div class="top">
            <div class="topMenu"><span class="title"> Dashboard</span><div class="back"><div class="triangle"></div></div>
            <div>
            <div class="center">
                <div class="view">
                    </div>
                        <!-- <div class="view_input_list"> -->

                                <table class = "projects_table">
                                    <!-- <tr class="sprint_line_background">
                                            <td class="sprint_lines">

                                                <div class="numbers_project">
                                                    <div class="titleProject_dashboard"> <span class = "sprint_text_line">Projeto1</span> <span> Due in:10/10/2022</span></div>
                                                    <div class="toDo_dashboard"><h1>TO DO</h1><span class="todo_number">50</span></div>  
                                                    <div class="toDo_dashboard"><h1>TO DO</h1><span class="todo_number">50</span></div> 
                                                </div>
                                                <table class = "projects_table">
                                                    <tr>
                                                        <td><span class="text_sprint">Create Api </span><span class="sprint_due"> Due in: 11/11/22</span></td>
                                                    </tr>
                                                    <tr>
                                                        <td><span class="text_sprint">Design system</span><span class="sprint_due"> Due in: 11/11/22</span></td>
                                                    </tr>
                                                </table>
                                 
                                            </td>
                                    </tr> -->
                                    <!-- <tr class="sprint_line_background">
                                        <td class="sprint_lines">
                                            <div class="numbers_project">
                                                <div class="titleProject_dashboard"> <span class = "sprint_text_line">Projeto1</span> <span> Due in:10/10/2022</span></div>
                                                <div class="toDo_dashboard"><h1>TO DO</h1><span class="todo_number">50%</span></div>  
                                                <div class="toDo_dashboard"><h1>COMPLETED</h1><span class="todo_number">50%</span></div> 
                                            </div>
                                        <table class = "projects_table">
                                            <tr>
                                                <td><span class="text_sprint">Create Api </span><span class="sprint_due"> Due in: 11/11/22</span></td>
                                            </tr>
                                            <tr>
                                                <td><span class="text_sprint">Design system</span><span class="sprint_due"> Due in: 11/11/22</span></td>
                                            </tr>
                                        </table>
                             
                                    </td>
                                    </tr> -->
                                </table>
                        <!-- </div>  -->
                    </div>
                </div>

                </div>
            </div>
            
        </div>
    </div>
    <script src="./js/text.js"></script>
</body>
</html>