<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/menu.css">
    <title>Document</title>
</head>
<body>

        <div class="backgroundLogin">
        <div class="topLogin">
            <!-- <div class="topBar">
                <div class="button_">_</div>
                <div class="buttonx">x</div>
            </div> -->
        </div>
        <div class="centerLogin">
            <div class="loginModal">
                <h4>Projeto sprint</h4>
                <input class = "inputtextLogin" type="text" placeholder = "Usuário">
                <input class = "inputpasswordLogin" type="password" placeholder="Senha">
                <button class="buttonSignLogin">Sign in</button>
            </div>
        </div>
    </div>

    <script src="../principal.js"></script>   
</body>
</html>