<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="background">
        <div class="top">
            <div class="topMenu"><span class="title"> Project:</span><span class="titleTag">App developing</span><div class="back"><div class="triangle"></div></div>
        <div>
            <div class="center">
                <div class="view">
                  
                    <div class = "input_list">
                        <div class = "input_list_line"><h1>INSERT SPRINT | EXPIRATE DATA</h1><div class="add_div">
                            <input class="text_add" type="text">
                            <input type="date" class="input_date">
                            <button class="add_button">+</button> 
                        </div>
                    </div>
                        <div class="view_input_list">
                        <div class="toDo"><h1>TO DO</h1>
                            <div class="list">
                                <table class = "todo_table">
                                </table>
                            </div>
                        </div>
                    </div>

                    </div>
                    <div class="completed"><h1>COMPLETED</h1>
                        <div class="list">
                            <table class="completed_table">
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <script src="../principal.js"></script>
</body>
</html>