<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/index.css">
    <title>Document</title>
</head>
<body>
    <div class="background">
        <div class="top">
            <div class="topMenu"><span class="title"> Project:</span><span class="titleTag">App developing</span><div class="back"><div class="triangle"></div></div>
            <div class = "input_list">Text:
                    <input class="text_add" type="text">   Date:
                    <input type="date" class="input_date">Sprint:
                    <input class="text_sprint" type="text">
                <select class="sprint_menu_color">
                    <option class="option_green" value = "sprint_green">Green</option>
                    <option class="option_yellow" value = "sprint_yellow">Yellow</option>
                    <option class="option_red" value = "sprint_red">Red</option>
                    <option class="option_blue" value="sprint_blue">Blue</option>
                </select>
                    <button class="add_button">+</button>
                </div>
            <div>
            <div class="center">
                <div class="view">
                  

                    </div>
                        <div class="view_input_list">
                        <div class="toDo"><h1>TO DO</h1>
                            <div class="list">
                                <table class = "todo_table">
                                    <!-- <tr>
                                        <td>  
                                            <div class="sprint_green">Sprint1</div>
                                            <button class="delete_button">x</button>
                                            <button class="ok_button">OK</button>
                                            <div class="sprint_texto">Criar o layout do site,Criar o layout do site</div>
                                        </td>
                                        <tr>
                                        <td>
                                            <div class="sprint_red">Sprint1</div>
                                            <div class="sprint_texto">Criar o backend da api</div>
                                            <button class="delete_button">x</button>
                                            <button class="ok_button">OK</button>    
                                        </td>
                                    </tr> -->
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="completed"><h1>COMPLETED</h1>
                        <div class="list">
                            <table class="completed_table">
                            </table>
                        </div>
                    </div>
                </div>

                </div>
            </div>
            
        </div>
    </div>
    <script type="module" src="../controller/mainIndex.js"></script>
</body>
</html>